/.idea/.idea.BugTracker/.idea/.gitignore
/BugTracker/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/BugTracker/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BugTracker/bin/Debug/netcoreapp3.1/appsettings.json
/BugTracker/bin/Debug/netcoreapp3.1/AutoMapper.Collection.dll
/BugTracker/bin/Debug/netcoreapp3.1/AutoMapper.dll
/BugTracker/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.ExpressionMapping.dll
/BugTracker/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.AssemblyInfo.cs
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.AssemblyInfoInputs.cache
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.assets.cache
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.csproj.CopyComplete
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.csproj.CoreCompileInputs.cache
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.csproj.FileListAbsolute.txt
/BugTracker/obj/BugTracker.csproj.nuget.dgspec.json
/BugTracker/obj/BugTracker.csproj.nuget.g.props
/BugTracker/obj/BugTracker.csproj.nuget.g.targets
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.csprojAssemblyReference.cache
/BugTracker/bin/Debug/netcoreapp3.1/BugTracker.deps.json
/BugTracker/bin/Debug/netcoreapp3.1/BugTracker.dll
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.dll
/BugTracker/bin/Debug/netcoreapp3.1/BugTracker.exe
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.exe
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.genruntimeconfig.cache
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.MvcApplicationPartsAssemblyInfo.cache
/BugTracker/bin/Debug/netcoreapp3.1/BugTracker.pdb
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.pdb
/BugTracker/obj/Debug/netcoreapp3.1/BugTracker.RazorTargetAssemblyInfo.cache
/BugTracker/bin/Debug/netcoreapp3.1/BugTracker.runtimeconfig.dev.json
/BugTracker/bin/Debug/netcoreapp3.1/BugTracker.runtimeconfig.json
/BugTracker/obj/Debug/netcoreapp3.1/staticwebassets/BugTracker.StaticWebAssets.Manifest.cache
/BugTracker/obj/Debug/netcoreapp3.1/staticwebassets/BugTracker.StaticWebAssets.xml
/.idea/.idea.BugTracker/.idea/encodings.xml
/.idea/.idea.BugTracker/.idea/indexLayout.xml
/BugTracker/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/BugTracker/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/BugTracker/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/BugTracker/obj/project.assets.json
/BugTracker/obj/project.nuget.cache
/BugTracker/obj/project.packagespec.json
/BugTracker/obj/rider.project.restore.info
/BugTracker/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/BugTracker/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
/BugTracker/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/BugTracker/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/BugTracker/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/BugTracker/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/BugTracker/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/BugTracker/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/.idea/.idea.BugTracker/.idea/vcs.xml
